spring:
  datasource:
    url:
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
      default_batch_fetch_size: 100
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 1000
        #one-indexed-parameters: true
server:
  error:
    include-message: always
    include-stacktrace: always
logging:
  lever:

    org.hibernate_SQL: debug